

.toggle-button-background{
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

.divider-card{
    display: flex;
    justify-content: center;
}

.status-divider{
    padding: 8px 0;
}